<!--
	Description:细览模版
	Author:biaoping.yin
	Date:2007-01-11
	
	Company:Creator
-->
<cms:detail scope="cms"><!--通过程序自动追加-->
	<!--记录每个页面的全局参数，如何记录-->
	<cms:params/>
	<!--通过程序自动追加-->
	<!--细览开始-->
	<cms:cell title="${title}" field="${field}"/><!--通过置标设置-->
	<cms:attachements title="${title}" field="${field}"/><!--通过置标设置附件（支持多附件）-->
	<cms:movie title="${title}" field="${field}"/><!--通过置标设置视频-->
	<!--分页新闻索引导航,通过置标实现-->
	<cms:index style="${style}"/>
	<!--下一条新闻文档，通过置标设置-->
	<cms:nextdocument/>
	<cms:template refid="${templateid}"/>
	<!--模版引用，通过置标实现-->
	<!--新闻评论-->
	<cms:comment/>
</cms:detail>
<!--通过程序自动追加-->
