<!--
	Description:概览模版
	Author:biaoping.yin
	Date:2007-01-11
	Company:Creator
-->
<cms:pager maxPageItems="${maxPageItems}" 
		  scope="cms"
		  isList="false"><!--通过程序自动追加-->
	<cms:params/><!--通过程序自动追加-->
	<!--概览开始-->
	<cms:list viewid="1" channel=""><!--通过置标追加-->
		<cms:cell title="${title}" field="${field}"/><!--通过置标追加-->
	</cms:list><!--通过置标追加-->
	<!--更多-->
	<cms:more title="${moretitle}"/><!--通过置标追加-->
	<!--索引导航-->
	<cms:index style="${style}"/><!--通过置标追加-->
</cms:pager><!--通过程序自动追加-->
