#if( !$showpage )
    outlookbar.additem('<div id=div_${id} onmouseup=showDiv(this,"${onmouseup_img}","mouseup"); onmousedown=showDiv(this,"${onmousedown_img}","mousedown"); onmouseover=showDiv(this,"${onmouseover_img}","mouseover"); onmouseout=showDiv(this,"${onmouseout_img}","mouseout")><img src=${head_img} enimgsrc=${onmouseup_img} disimgsrc=${onmouseout_img} itemsn=${itemsn} border=0 vspace=5 id=img_${id} >${br}${title_dec}</div>',t,'${link_url}','${target}');
#else
    outlookbar.additempage(t,'${page_url}','${target}');
#end

