</script>
<table cellspacing=0 cellpadding=0 border=0 height="100%" width="100%" align="center">
  <tr>
    <td valign="top">
      <table id="mnuList" style="WIDTH: 100%; HEIGHT: 100%" cellspacing="0" cellpadding="0" align="center" border="0">
        <tr>
          <td id="outLookBarShow" style="HEIGHT: 100%" valign="top" align="middle" name="outLookBarShow">
            <script language="javascript">
                locatefold("${default_module}");
                outlookbar.show();
            </script>
          </td>
        </tr>
      </table> 
    </td>
    <!--td width="15">
      <table cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td width="10" align="middle" valign="center">
            <span class="np" id="switchPoint" onClick="switchSysBar()" title="打开/关闭导航">3</span>
          </td>
        </tr>
      </table>
    </td-->
  </tr>
</table>

<SCRIPT>
try
{
	${selectImg}
	selectImg.src =selectImg.enimgsrc;
	document.getElementById("outlookdivin"+outlookbar.opentitle).scrollHeight;
	document.getElementById("outlookdivin"+outlookbar.opentitle).scrollTop=selectImg.itemsn*85;
}
catch(e)
{
}
</SCRIPT>
</BODY></HTML>