.menu {
	position:absolute;
	border: 2px outset threedhighlight;
	background-color:inactiveborder;
	padding:2px;
	width:180px;
	visibility:hidden;
	z-index: 9999;
}
.menu140 {
	position:absolute;
	border: 2px outset threedhighlight;
	background-color:inactiveborder;
	padding:2px;
	width:140px;
	visibility:hidden;
	z-index: 9999;
}

.item { padding:2px;width:100%;cursor:default;border:1px solid inactiveborder;font-size: 12px;}
.item img { vertical-align:middle;margin-right:10px;}
.item span { visibility:hidden;width:21px;height:12px;}
.line { border-top:1px solid #848284;border-bottom:1px solid white;margin:2px;}