._left_mian {
	float: left;
	width: 209px;
	margin-bottom: 0px;
	overflow: hidden;
	min-height: 600pc;
	background: url(../images/left_img.jpg) repeat-x;
}

.top{ background:url(../images/top_bg.jpg) repeat-x;
	   width:100%;
	   height:53px;
}

._right_top_mian {
	background: url(../images/tab_bg.jpg) repeat-x;
	height: 32px;
	float: left;
	width: 100%;
	margin: 0
}

._right_top_img_mian {
	background: url(../images/tab_bg01.jpg) no-repeat;
	height: 32px;
	width: 506px;
	z-index: 0;
	float: left;
	
}