/* CSS Document */
.tj1{font-size:12px; font-weight:bold; color:#866a00; line-height:30px; padding-left:3px;}
.tj2{ width:100%; font:normal 12px/24px "宋体"; margin-top:10px;  }
.tjdiv{	margin-right:30px; margin-bottom:10px;float: left;}
.tjdiv img{ margin-left:1px;}
.tj3{ font-size:13px; color:#000000; font-weight:bold; line-height:24px;}
