a {font-size:16px} 

a:link {color: blue; text-decoration:none;} 

a:active:{color: red; } 

a:visited {color:purple;text-decoration:none;} 

a:hover {color: red; text-decoration:underline;} 

