/*!@author:Helen. @update:2013-05-09*/ 
/* 基本配置 */
html{min-width:1003px; overflow-y:scroll; -webkit-text-size-adjust:none; color:#666;}
body,p,th,td{margin:0; padding:0; border:0;}
body,td,tr,th{font:12px/1.5 '\5b8b\4f53',arial,tahoma;}


.juan_top{ background:#f7f7f7; border:solid 1px #c6c6c6; text-align:center; font-size:18px; font-family:"microsoft yahei"; color:#000;}
.juan_biao{ font-size:14px; color:#666666;}
.juan_kuang{ border:solid 1px #c6c6c6;}
table.ceshi{ background:#d6d5d5;}
table.ceshi td{ background:#fff; padding:0px 10px;}
table.ceshi .ce_ti{ background:#fbfbfb; font-size:14px; font-weight:bold; color:#000;}
table.ceshi .ce_shou{ background:url(../images/juan_bj1.gif) repeat-x; text-align:center; font-size:14px; color:#333;}
table.ceshi img{vertical-align:middle;}


.tou_biao{ background:#f4f4f4; font-weight:bold; font-size:14px; color:#000; padding-left:20px;}
.tou_xuan{ font-size:14px; padding-left:40px;}
.dan_an{ vertical-align:middle;}
.dan_kuang{ border-bottom:solid 1px #8b8b8b; border-left:solid 1px #fff; border-right:solid 1px #fff; border-top:solid 1px #fff; width:120px; height:20px; line-height:20px; vertical-align:middle;}
.tou_wen{ width:80%; height:120px; border:solid 1px #7f9db9; float:left; vertical-align:middle; background:#f7f7f7; line-height:24px;}


.kao_ti{ text-align:center; font-size:18px; font-family:"microsoft yahei"; color:#000; background:#fbfbfb;}
table.kaoping{ background:#d6d5d5;}
table.kaoping td{ background:#fff; padding:0px 5px;}
table.kaoping .ce_ti{ background:#fbfbfb; font-size:14px; font-weight:bold; color:#000;}
table.kaoping .ce_shou{ background:url(../images/juan_bj1.gif) repeat-x; text-align:center; font-size:12px; font-weight:bold; color:#000000;}
table.kaoping img{vertical-align:middle;}
.biao_kuang{ width:90%; border:solid 1px #7f9db9; height:20px; line-height:20px; vertical-align:middle;}
table.kaoping .biao_zhuyi{ background:#fbfbfb; color:#f30000;}
.jindutiao{ width:148px; height:11px; background:url(../images/juan_an11.gif) no-repeat; float:left; margin-top:4px; }
.bianse{ height:11px; background:url(../images/juan_an12.gif) repeat-x; width:100%;}