/*图片路径*/
imgUrl[${num}]="${param1}";
/*依此为:图片文字(右上角); 图片下面的滚动文字点击的链接; 和图片下面的滚动文字*/
if(${isMarquee}){
    imgtext[${num}]="<marquee behavior='scroll' width="+imgWidth+"><A  title='${param4}' HREF='${param5}' TARGET=${target} class='+textLinkStyle+'><font color='red'>${param4}</font></A><marquee>";
}else{
    imgtext[${num}]="<A  title='${param4}' HREF='${param5}' TARGET=${target} class='+textLinkStyle+'><font color='red'>${param4}</font></A>";
}
/*图片点击的链接*/
imgLink[${num}]="${param5}";
/*鼠标经过的ALT文字*/
imgAlt[${num}]="${param4}";