<style>
/* 数字按钮框样式 */
.imgTitleCSS {FILTER:ALPHA(opacity=70);position:relative;left:0px;   text-align:left;overflow: hidden;}
.imgTitle_upCSS {left:0px;text-align: left; height:1px; width:inherit; }
.imgTitle_downCSS {left:0px;text-align: right; width:inherit; }
/* 图片文字框样式 */
.txtFromCSS {text-align: center;vertical-align:left; padding:2px 0px;  font-size:12px; background:url(images/note.gif) no-repeat center;}          
/* 图片框样式 */
.imgClass {border: 0px solid #000;}
/* 数字按钮样式 */
.button {text-decoration: none; padding: 6px 7px;background:#7B7B63;  margin:0;font: bold 9px sans-serif; border-left:#fff 1px solid;}

.buttonDiv {background: #000000;height:2px;width: 21px;float: left;  text-align: center; vertical-align: middle;}
/* 渐变 */             
.trans { width:50px; background-color:#000;filter : progid:DXImageTransform.Microsoft.Alpha(startX=0, startY=0, finishX=100, finishY=100,style=1,opacity=0,finishOpacity=40);}
.red a:link,.red a:visited{color:#FFFFFF;text-decoration: none}
.red a:hover {color:#FFFFFF;text-decoration: none}
</style>

<table width="100%"  border="0" cellpadding="0" id='imageNews' cellspacing="0">
    <tr>
    <td class="red">
    <!-- 图片滚动开始 -->
<!-- js 其中一些参数可以作为外部参数传进来 -->
<script language="JavaScript" type="text/javascript">
	var imgWidth=${imgWidth};                       /*图片宽*/
	var imgHeight=${imgHeight};                      /*图片高*/
	var textFromHeight=30;                  /*焦点字框高度 (单位为px)*/
	var textStyle="f12";                    /*焦点字class style (不是连接class)*/
	var textLinkStyle="FONT";               /*焦点字连接class style*/
	var buttonLineOn="#ce0609";             /*button下划线on的颜色*/
	var buttonLineOff="#000";               /*button下划线off的颜色*/
	var TimeOut=Number(${second});          /*每张图切换时间 (单位毫秒);*/
	var imgUrl=new Array(); 
	var imgLink=new Array();
	var imgtext=new Array();
	var imgAlt=new Array();
	var adNum=0;
	/*焦点字框高度样式表 开始*/
	document.write("<style type='text/css'>");
	document.write(".focuseFromCSS{width:"+(imgWidth+2)+";margin:0; padding:0;	height:"+(imgHeight+textFromHeight)+"px; overflow:hidden;}");
	document.write(".txtFromCSS{height:"+textFromHeight+"px;line-height:"+textFromHeight+"px;width:"+imgWidth+"px;overflow:hidden;}");
	document.write(".imgTitleCSS{width:"+imgWidth+";top:-"+(textFromHeight+18)+"px;height:18px}");
	document.write("</style>");
	document.write("<div id='focuseFrom' class='focuseFromCSS'>");