<style>
#CZNavigator .wen2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px
}
#CZNavigator A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
#CZNavigator A {
	COLOR: #000000; TEXT-DECORATION: none
}
#CZNavigator .link-a {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
#CZNavigator A.link-a:hover {
	LEFT: 1px; COLOR: #fbfe01; POSITION: relative; TOP: 1px
}

#CZNavigator TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "ËÎÌו"
}
#CZNavigator TR {
	FONT-SIZE: 9pt; FONT-FAMILY: "ËÎÌו"
}
#CZNavigator .CZNavigatorBottom {
	BORDER-RIGHT: #30658e 1px solid; BORDER-TOP: #30658e 1px solid; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(images/simpleNavigator_bottom_bg.gif); BORDER-LEFT: #30658e 1px solid; CURSOR: hand; BORDER-BOTTOM: #30658e 1px solid; FONT-FAMILY: "ËÎÌו"; HEIGHT: 18px; BACKGROUND-COLOR: #cccccc
}
</style>

<SCRIPT language=JavaScript>
var dhmenu = new Array;
var count = ${count};
for(var i=0;i<count;i++){
    dhmenu[i] = "${divName}"+i;
}
function showMenu(n){
	var obj = eval(dhmenu[n]);	
	if(obj.style.visibility=="visible") return;
	obj.style.visibility="visible";
	for (i=0;i<3;i++){
		mObj = eval(dhmenu[i]);
		if (i!=n) mObj.style.visibility="hidden";
    }
}
function hideMenu(n){
	var obj = eval(dhmenu[n]);
	obj.style.visibility="hidden";
}
</SCRIPT>

<div id="CZNavigator">
<TABLE cellSpacing=0 cellPadding=0 width=${totalWidth} border=0>
    
    <TR>
        <TD style="HEIGHT: ${height}px" vAlign=center bgColor=${bgColor}>
            <TABLE id=menubar height=${height} cellSpacing=0 cellPadding=0 width=${totalWidth} border=0>
                <TR align=left>
                    <TD  noWrap align=middle width=${colWidth}>&nbsp;&nbsp;
                        <A class=link-a href="${indexURL}"><STRONG>${homePageStr}</STRONG></A></TD>
                    <TD align=middle><FONT color=#ffffff>|</FONT></TD>
            
            
            