vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Feb 2005 09:46:54 -0000
vti_extenderversion:SR|4.0.2.7802
vti_cacheddtm:TX|25 Feb 2005 09:46:54 -0000
vti_filesize:IR|2852
vti_cachedlinkinfo:VX|S|webmenu.htc S|../image/LeftHalf.gif S|../image/RightHalf.gif S|../image/FullBG.gif
vti_cachedsvcrellinks:VX|FSUS|bill/design/webmenu.htc FSUS|bill/image/LeftHalf.gif FSUS|bill/image/RightHalf.gif FSUS|bill/image/FullBG.gif
vti_backlinkinfo:VX|bill/design/layout.htm bill/design/menutoolbar.htm
