@CHARSET "UTF-8";
.unselected {
    cursor: pointer;
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #f1f1f1;
    padding-left: 5px;
}

.selected {
    cursor: pointer;
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #f1f1f1;
    background: #FBEC88;
    padding-left: 5px;
}

.onmouseover {
    cursor: pointer;
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #f1f1f1;
    background: #D2E6F5;
    padding-left: 5px;
}
.but_left_1 {
    width: 40px;
    height: 18px;
    background: url(but_left_1.png) no-repeat;
    color: #FFF;
    float: none;
    border: none;
    cursor: pointer;
}
.but_right_1 {
    width: 40px;
    height: 18px;
    background: url(but_right_1.png) no-repeat;
    color: #FFF;
    float: none;
    border: none;
    cursor: pointer;
}