
		<head>
		/* css_path 属性,指定外部样式 */
		/* css_path 属性,配合布局 */
		<link rel="stylesheet" href="${stylepath}" /> \n");
		sb.append("<script language=\"javascript\"> \n");
		sb.append("function change(e,path){ \n");
		sb.append("e.src= path \n");
		sb.append("} \n");
		sb.append("function over(e,path){ \n"); 
		sb.append("e.src= path \n"); 
		sb.append("}"); 
		sb.append("function out(e,path){ \n"); 
		sb.append("e.src= path \n"); 
		sb.append("} \n"); 
		sb.append("</script> \n");
		sb.append("</head> \n");
		List list = impl.getNnavigatOfChnl(level,siteid);
		if("left".equals(getLayout())){			
			sb.append(unNormalLayoutJS(list));
		}else if("top-down".equals(getLayout())){			
			sb.append(unNormalLayoutJS(list));
		}else if("top-left".equals(getLayout())){			
			sb.append(unNormalLayoutJS(list));
		}else{/* 普通布局 */			
			sb.append("<div id=\"logonav\"> \n");
			sb.append("<div id=\"logo\"> \n");	
			/* 天气预报 */
			sb.append("<iframe src=\"http://news.sina.com.cn/iframe/2006/weather/jump_new.html\" frameborder=0 width=117 height=37 marginheight=0 marginwidth=0 scrolling=no>");
			sb.append("</iframe></div> \n");
			/* 导航内容 */
			sb.append("<table cellspacing=0 class=\"nav\" > \n");
			sb.append("<tr> \n");		
			for(int i=0;i<list.size();i++){
				Channel channel = (Channel)list.get(i);	
				StringBuffer show_info = new StringBuffer();
				if("image".equals(getStyle())){
					//<img src="d:\a.gif"  onclick="change(this)" onmouseover="over(this)" onmouseout="out(this)"></img>
					show_info.append("<img src=\""+super.handleImage(channel.getMouseUpImage())+"\" \n");
					show_info.append("onclick=\"change(this,'"+super.handleImage(channel.getMouseClickImage())+"')\" onmouseover=\"over(this,'"+channel.getMouseInImage()+"')\" onmouseout=\"out(this,'"+channel.getMouseOutImage()+"')\" /> \n");
					
				}else{
					show_info.append(channel.getDisplayName());
					
				}
				sb.append("<td nowrap><a href=\""+super.handleLink(channel.getChannelPath())+"\">"+show_info.toString()+"</a></td> \n");
				if(getColumn_num()>0){
					column_num =  getColumn_num();
				}else{
					/* 缺省是10列 */
					column_num = 10;
				}
				if((i+1)%column_num!=0 || i==0){
					if("image".equals(getStyle())){
						sb.append("<td></td> \n");
					}else{
				        sb.append("<td>|</td> \n");
					}
				}else {				
					sb.append("</tr><tr> \n");
				}
			}
		}