<div id="logonav">
<div id=logo> 
<iframe src=http://news.sina.com.cn/iframe/2006/weather/jump_new.html frameborder=0 width=117 height=37 marginheight=0 marginwidth=0 scrolling=no>
</iframe></div> 
<table cellspacing=0 class="nav" >
<tr>
			