
by been /* CSS Document */    
* {
	padding: 0px;
	margin: 0px;
	display: inline;
}

body {
	font-family: Verdana;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

div {
	border: none;
}

._mian {
	margin: 0;
	padding: 0;
	min-height: 300px;
	min-width: 800px;
	overflow: hidden;
	max-height: 1200px;
	width: 100%;
}

._header_mian {
	height: 53px;
	width: 100%;
	margin-bottom: 0px;
}

._body_mian {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

._bottom_mian {
	
}

._left_mian {
	float: left;
	width: 209px;
	margin-bottom: 0px;
	overflow: hidden;
	min-height: 600pc;
	background: url(../img/left_img.jpg) repeat-x;
}

._right_mian {
	margin-left: 209px !important;
	margin-left: 209px;
	margin-bottom: 0px;
}

._right_top_mian {
	background: url(../img/tab_bg.jpg) repeat-x;
	height: 32px;
	float: left;
	width: 100%;
	margin: 0
}

._right_top_img_mian {
	background: url(../img/tab_bg01.jpg) no-repeat;
	height: 32px;
	width: 506px;
	z-index: 0;
	float: left;
	
}

._right_menu_tabs_mian {
	z-index: 2px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	margih-right: 0px;
	left: 217px;
	height: 32px;
}
/**TAB��ͷ start*/
._right_box_left_out_mian {
	
}

._right_box_left_mian a {
	background: url(../img/left_span.gif) no-repeat;
	float: left;
	margin: 0;
	left: 0px;
	padding: 0;
	width: 15px;
	height: 32px;
}

._right_box_left_mian {
	float: left;
	margin: 0;
	left: 0px;
	padding: 0;
	width: 15px;
	height: 32px;
}

._right_box_left_mian a:hover {
	background: url(../img/left_span.gif) no-repeat;
	float: left;
	margin: 0;
	left: 0px;
	padding: 0;
	width: 15px;
	height: 32px;
}

._right_box_right_out_mian {
	
}

._right_box_right_mian a {
	background: url(../img/right_span.gif) no-repeat;
	width: 15px;
	float: right;
	right: 0px;
	height: 32px;
	margin: 0;
	padding: 0;
}

._right_box_right_mian {
	width: 15px;
	float: right;
	right: 0px;
	height: 32px;
	margin: 0;
	padding: 0;
}

._right_box_right_mian a:hover {
	background: url(../img/right_span.gif) no-repeat;
	width: 15px;
	float: right;
	right: 0px;
	height: 32px;
	margin: 0;
	padding: 0;
}
/**TAB��ͷ end*/
._right_box_mian {
	float: left;
	margin: 0;
	padding: 0;
}

._right_box_super_mian {
	float: left;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	overflow: hidden;
	font-size: 12px;
}

._right_box_classall_mian{
	background: url(../img/tab_close.gif) no-repeat;
	position: absolute;
	width: 32px;
	height: 32px;
	float:right;
	top:0;
	z-index: 999;
	margin-left: 100px;
	clear:both;
}
._right_box_classall_mian a{
	background: url(../img/close_all_out.gif) no-repeat;
	width: 17px;
	height: 17px;
	margin-top:10px;
	margin-left:8px;
	cursor:pointer;
	display:block;
}
._right_box_classall_mian a:hover {
	background: url(../img/close_all_on.gif) no-repeat;
}

._right_box_body_mian {
	float: left;
	margin: 0;
	padding: 0;
	width: 9999px;
	margin-left: 0;
}

._right_box_menu_mian {
	float: left;
	overflow: hidden;
	margin-left: 0px;
}

._right_box_text_mian {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}
/*TAB Close start*/
._box_memu_close_out_mian {
	background: url(../img/box_memu_close_over.gif) no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	float:right;
	top:7px;
	z-index: 999;
	margin-right: 10px;
	clear:both;
}

._box_memu_close_over_mian {
	background: url(../img/box_memu_close_over.gif) no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	float:right;
	top:7px;
	z-index: 999;
	margin-right: 10px;
	clear:both;
}
/*��ѡ��״̬������رղ�ʱ��Ч��*/
._box_memu_close_over_this_mian {
	background: url(../img/box_memu_close_over_this.gif) no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	float:right;
	top:7px;
	z-index: 999;
	margin-right: 10px;
	clear:both;
}
/*����ѡ��״̬������رղ�ʱ��Ч��*/
._box_memu_close_hover_this_mian {
	background: url(../img/box_memu_close_hover_this.gif) no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	float:right;
	top:7px;
	z-index: 999;
	margin-right: 10px;
	clear:both;
}

._box_memu_close_hover_mian {
	background: url(../img/box_memu_close_hover.gif) no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	float:right;
	top:7px;
	z-index: 999;
	margin-right: 10px;
	clear:both;
}

/*TAB Close end*/
._box_memu_left_hover_mian {
	background: url(../img/tab_in.gif) left top no-repeat;
	width: 8px;
	height: 32px;
	float: left;
}

._box_memu_body_hover_mian {
	float: left;
	max-width: 130px;
	min-width: 50px;
	height: 32px;
	margin-left: 0px;
	display: inline;
}

._box_memu_hover_mian {
	float: left;
	height: 32px;
	font: bold 13px/32px "����";
	text-align: center;
	color: #fff;
	background: url(../img/tab_in-mid.gif) left top repeat-x;
	cursor: pointer;
	overflow: hidden;
}

._box_memu_right_hover_mian {
	background: url(../img/tab_in.gif) right top no-repeat;
	width: 8px;
	height: 32px;
	float: right;
}

._box_memu_body_over_mian {
	float: left;
	max-width: 130px;
	min-width: 50px;
	height: 32px;
	margin-left: 0px;
	display: inline;
}

._box_memu_body_out_mian {
	float: left;
	max-width: 130px;
	min-width: 50px;
	height: 32px;
	margin-left: 0px;
	display: inline;
}

._box_memu_left_over_mian {
	background: url(../img/tab_now.gif) left top no-repeat;
	width: 8px;
	height: 32px;
	float: left;
}

._box_memu_left_out_mian {
	background: url(../img/tab_on.gif) left top no-repeat;
	width: 8px;
	height: 32px;
	float: left;
}

._box_memu_over_mian {
	float: left;
	height: 32px;
	font: bold 14px/32px "����";
	text-align: center;
	color: #204b7d;
	background: url(../img/tab_now-mid.gif) left top repeat-x;
	cursor: pointer;
	overflow: hidden;
}

._box_memu_out_mian {
	float: left;
	height: 32px;
	font: bold 13px/32px "����";
	text-align: center;
	color: #fff;
	background: url(../img/tab_on-mid.gif) left top repeat-x;
	cursor: pointer;
	overflow: hidden;
}

._box_memu_right_over_mian {
	background: url(../img/tab_now.gif) right top no-repeat;
	width: 8px;
	height: 32px;
	float: right;
}

._box_memu_right_out_mian {
	background: url(../img/tab_on.gif) right top no-repeat;
	width: 8px;
	height: 32px;
	float: right;
}

._document_body_mian {
	border: 0;
	padding: 0;
	margin: 0;
	frameborder: 0;
}

._document_mian {
	border: 0;
	padding: 0;
	margin: 0;
	border-left: 0px;
}

._right_bottom_mian {
	float: left;
	border: 0;
	padding: 0;
	margin: 0;
	border-left: 0px;
}
/***�����ʽ***/
._tree_menu_1 { /*һ���˵�*/
	width: 191px;
	
	background: url(../img/left_li_bottom.jpg) bottom left repeat-x;
	height: 27px;
	text-align: left;
	float: left;
	color: #FFF;
	margin-left: 9px;
	display: inline;
	font: bold 14px/27px "����";
}

._tree_menu_1 a {
	background: url(../img/left_nav_img.gif) 30px 50% no-repeat;
	width: 191px;
	height: 27px;
	text-align: left;
	float: left;
	display: inline;
	padding-left: 50px;
	font: bold 12px/27px "����";
	cursor:pointer;
	color: #fff;
}
._tree_menu_1 a:hover { color: #eee}

._tree_menu_2 { /*�Ӽ��˵�*/
	float: left;
	width: 200px;
	height: 25px;
	margin: 3px 9px 0px;
	font: bold 12px/25px "����";
	color: #badcff;
	display: inline;
	text-align: left;
	background: url(../img/left_nav_ej.gif) 50px 50% no-repeat;
	cursor:pointer;
}

._tree_menu_2 a {
	float: left;
	color: #badcff;
	text-decoration: none;
	width: 191px;
	height: 25px;
	line-height: 25px;
	display: inline;
	padding-left: 60px;
	cursor:pointer;
}
._tree_menu_a_2{
	float: left;
	color: #8A6C00;
	text-decoration: none;
	width: 191px;
	height: 25px;
	line-height: 25px;
	display: inline;
	padding-left: 60px;
	cursor:pointer;
}

._tree_menu_a_2 :hover{
	float: left;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	color: #badcff;
	background: #F6E093;
	background: url(../img/left_nav_ej-on.gif) left 50% no-repeat;
	cursor:pointer;
}

._tree_menu_2 a:hover {
	color: #badcff;
	float: left;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	background: #2d68a0;
	background: url(../img/left_nav_ej-on.gif) left 50% no-repeat;
	cursor:pointer;
}

._tree_menu_3 { /*��ײ�˵� */
	float: left;
	width: 207px;
	height: 25px;
	margin: 0px;
	text-align: left;
	font: 12px/25px "����";
	color: #1c6780;
	display: inline;
	background: #e9e9e9;
	cursor:pointer;
}

._tree_menu_3 a {
	float: left;
	margin-left:50px;
	color: #1c6780;
	text-decoration: none;
	width: 191px;
	height: 25px;
	margin: 0px 0px;
	display: inline;
	cursor:pointer;
	padding-left: 65px;
}

._tree_menu_3 a:hover {
    width:207px;
	float: left;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	color: #093a4b;
	margin: 0px 0px;
	background: #bcdde4;
	overflow: hidden;
	display: inline;
}

/*************************** ��ߵ��� ***************************/
.left_to_do_list {
	background: url(../img/nav_left_ks-01.gif) no-repeat;
	width: 152px;
	height: 36px;
	float: left;
	border: 0px;
	cursor: pointer;
	margin: 92px 0 0px 28px ;
	overflow: hidden;
	display: inline;
	line-height: 36px;
	max-height: 240px;/*���Ʋ���*/
}

.left_to_do_list a {
	width: 110px;
	height: 36px;
	float: left;
	display: inline;
	border: 0px;
	color: #fff;
	font: bold 14px/23px "����";
	line-height: 36px;
	text-align: left;
	padding-left: 42px;
}

.left_to_do_list a:hover {
	background: url(../img/nav_left_ks-01_02.gif) no-repeat;
	color: #f10000;
	border: 0px;
	cursor: pointer;
	font: bold 14px/23px "����";
	line-height: 36px;
}

.left_email {
	background: url(../img/nav_left_ks-02.jpg) no-repeat;
	width: 192px;
	height: 26px;
	float: left;
	border: 0px;
	cursor: pointer;
	margin-bottom: 5px;
	margin: 5px 0px 0px 9px;
	overflow: hidden;
	display: inline;
}

.left_email a {
	width: 192px;
	height: 26px;
	float: left;
	border: 0px;
	color: #826500;
	cursor: pointer;
	padding-left: 42px;
	padding-top: 3px;
	font: bold 14px/23px "����";
}

.left_email a:hover {
	background: url(../img/nav_left_ks-02_02.jpg) no-repeat;
	color: #f10000;
	border: 0px;
	cursor: pointer;
	padding-top: 3px;
	font: bold 14px/23px "����";
}

.left_mail_list {
	background: url(../img/nav_left_ks-03.gif) no-repeat;
	width: 152px;
	height: 36px;
	float: left;
	border: 0px;
	cursor: pointer;
	margin: 7px 0px 0px 28px;
	overflow: hidden;
	display: inline;
	line-height:36px;
	float: left;
}

.left_mail_list a {
	width: 110px;
	height: 36px;
	float: left;
	display: inline;
	border: 0px;
	color: #fff;
	padding-left: 42px;
	font: bold 14px/23px "����";
	line-height: 36px;
}

.left_mail_list a:hover {
	background: url(../img/nav_left_ks-03_02.gif) no-repeat;
	color: #f10000;
	width:152px;
	height: 36px;
	border: 0px;
	cursor: pointer;
	font: bold 14px/23px "����";
	line-height: 36px;
	float: left;
}

.left_background_img {
	background: url(../img/huixingwen.gif) left top no-repeat;
	width: 208px;
	height: 13px;
	float: left;
	margin: 20px 0px 5px 0px;
	overflow: hidden;
}
/*Left����*/
._left_menu_tree {
	width: 209px;
	OVERFLOW-Y: auto;
	overflow-x: hidden;
	scrollbar-arrow-color: #7490ab;
	scrollbar-face-color: #cde1eb;
	scrollbar-3dlight-color:#d3e5ee;
	scrollbar-highlight-color: #d3e5ee;
	scrollbar-shadow-color: #c9dfea;
	scrollbar-darkshadow-color: #c9dfea;
	scrollbar-track-color: #ebf3f6;
	scrollbar-base-color: #ebf3f6;
}
/*����ʽ��ʼ*/
._z_tree_root {
	position: absolute;
	top: 1%;
	left: 40%;
	width: 280px;
	border:1px solid #96b3d1;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
	z-index: 1999999998;
}

._z_tree_title {
	width: 280px;
	float: left;
	height: 32px;
	line-height: 32px;
	font: bold 12px/32px "����";
	color: #2b70ab;
	overflow: hidden;
	background: url(../img/tree_title_right.jpg) left top repeat-x;
	text-align: left;
}
._z_tree_title_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font: bolder 12px/32px "����";
	text-align: center;
	left:28px;
}
._z_tree_title_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
	
}

._z_tree_seacher_box {
	float: left;
	width: 212px;
	height: 25px;
	background: #eaf3fa;
	overflow: hidden;
	padding: 5px;
	margin: 13px 29px 0 29px;
	display: inline;
}



._z_tree_header {
	float: left;
	width: 220px;
	overflow: hidden;
	height: 27px;
	border: 1px solid #9cb8cd;
	text-align: center;
	font: bold 12px/27px "����";
	color: #3b607b;
	background: url(../img/tree_m1.gif) no-repeat;
	display: inline;
	margin-left: 29px;
	margin-right: 29px;
	margin-top: 5px;
}

._z_tree_body {
	float: left;
	width: 220px;
	border: 1px solid #767676;
	border-top: 0px;
	background: #fff;
	height: 330px;
	margin: 0 29px;
	display: inline;
}

._z_tree_edit {
	float: left;
	width: 280px;
	height: 34px;
	background: url(../img/t_bot.gif);
	text-align: right;
	margin-top: 13px;
}

._z_tree_edit input {
	float: none;
	margin-right: 10px;
	width: 63px;
	height: 22px;
	border: 0;
	margin-top: 6px;
	text-align: center;
	cursor: pointer;
}


._z_tree_edit_clear {
	width: 63px;
	height: 22px;
	background: url(../img/but_h_01.jpg) no-repeat;
	color: #6A6A6A;
	float: left;
}

._z_tree_edit_ok {
	width: 63px;
	height: 22px;
	background: url(../img/but_y_01.jpg) no-repeat;
	color: #fff;
	float: left;
}
/*����DIV*/
._lock_div {
	position: absolute;
	top: 0px;
	filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;
	background-color: #777;
	z-index: 900;
	left: 0px;
	width: 100%;
	height: 100%;
}

._alert_div_root {
	width: 250px;
	position: absolute;
	top: 27%;
	left: 40%;
	border:4px solid #96b3d1;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: left;
	z-index: 1999999998;
}

._alert_div_title {
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	float: left;
	height: 32px;
	line-height: 32px;
	font: bold 12px/32px "����";
	color: #896902;
	overflow: hidden;
	background: url(../img/tree_title_right.jpg);
	text-align: left;
}

._alert_div_title_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font: bolder 12px/32px "����";
	text-align: center;
	left:28px;
}
._alert_div_title_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
}
._alert_div_title_close{
	background: url(../img/box_memu_close_over_this.gif) no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 7px;
	right: 10px;
}

._alert_div_text {
	width: 85%;
	margin: 10px auto 0px;
	text-align: left;
	font: bolder 12px/25px "����";
	min-height: 80px;
}

._alert_div_edit_ok {
	width: 63px;
	height: 22px;
	background: url(../img/but_y_01.jpg) no-repeat;
	color: #896900;
	float: left;
}

._alert_div_edit {
	float: left;
	width: 100%;
	height: 34px;
	background: url(../img/t_bot.gif);
	text-align: right;
	margin-top: 13px;
}

._alert_div_edit input {
	float: right;
	margin-right: 10px;
	width: 63px;
	height: 22px;
	border: 0;
	margin-top: 6px;
	text-align: center;
	cursor: pointer;
}

/*************************** top��ʽ ***************************/
.top{ background:url(../img/top_bg.jpg) repeat-x;
	   width:100%;
	   height:53px;
}

.top_img{ background:url(../img/top_img.jpg) no-repeat;
	   width:715px;
	   height:53px;
	   float:left;
}
.top_img_kechuang{ background:url(../img/top_img_kechuang.jpg) no-repeat;
	   width:715px;
	   height:53px;
	   float:left;
}
.top_but_box{
	width:auto;
	float:right;
	margin-right:10px;
}
.top_but{
   loat:left;  
   width:auto;}
.top_but01{
      float:left;
      width:128px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  cursor:pointer;
	  text-align:center;
	  margin-right: 5px;
}
.top_but01 a{
  background:url(../img/top_but_02_male.gif) no-repeat;
   float:left;
      width:128px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  cursor:pointer;
	  text-align:center;
}
.top_but01 a:hover{
   background:url(../img/top_but_02_male.gif) no-repeat;
   float:left;
      width:128px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  color:#EA0000;
	  cursor:pointer;
	  text-align:center;
}
.top_but02{
   float:left;
      width:128px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  cursor:pointer;
	  text-align:center;
	  margin-right: 5px;
}
.top_but02 a{
       background:url(../img/top_but_02_female.gif) no-repeat;
   float:left;
      width:128px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  cursor:pointer;
	  text-align:center;
	  
	  
	  
}
.top_but02 a:hover{
   background:url(../img/top_but_02_female.gif) no-repeat;
   float:left;
      width:128px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  color:#EA0000;
	  cursor:pointer;
	  text-align:center;
	  
}
.top_but03{
  
   float:left;
      width:57px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  color:#EA0000;
	  cursor:pointer;
	  overflow:hidden;
	  text-align:center;
}
.top_but03 a{
      background:url(../img/top_but_03.gif) no-repeat;
	  float:left;
      width:57px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  cursor:pointer;
	  padding-left:8px;
	  
	  
}
.top_but03 a:hover{
   background:url(../img/top_but_03-02.gif) no-repeat;
   float:left;
   width:57px;
	  height:24px;
	  border:0px;
	  font:12px/26px "����";
	  color:#EA0000;
	  
}
._header_button_box{
	position: absolute;
	float:right;
	right:10px;
	z-index:1000;
	margin-top:10px;
}
/**������ʼ*/
.tree_box_opt {
	position: absolute;
	top: 1%;
	left: 30%;
	width: 620px;
	border:1px solid #96b3d1;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
	z-index: 199999999;
}

.tree_box_opt_title {
	width:100%;
	float: left;
	height: 32px;
	line-height: 32px;
	font: bold 12px/32px "����";
	color: #2b70ab;
	overflow: hidden;
	background: url(../img/tree_title_right.jpg);
	text-align: left;
}
.tree_box_opt_left_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font: bolder 12px/32px "����";
	text-align: center;
	left:28px;
}
.tree_box_opt_left_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
	
}
.tree_box_left {
	width: 280px;
	float: left;
}

.tree_box {
	width: 280px;
	overflow: hidden;
	margin: 0px auto;
	text-align: center;
}

.seacher_box {
	float: left;
	width: 212px;
	height: 25px;
	background: #eaf3fa;
	overflow: hidden;
	padding: 5px;
	margin: 13px 29px 0 29px;
	display: inline;
    margin-bottom: 5px;
}


._z_tree_seachter_input {
	float: left;
	width: 130px;
	height: 20px;
	border: 1px solid #9cb8cd;
	padding: 0 5px;
	line-height: 20px;
	
}


._z_tree_seachter_input_but {
	height: 22px;
	background: url(../img/but_y_01.jpg) no-repeat;
	color: #fff;
	float: left;
	float: none;
	width: 63px;
	height: 22px;
	border: 0;
	text-align: center;
	cursor: pointer;
}


.tree_left_title {
	float: left;
	width: 220px;
	overflow: hidden;
	height: 27px;
	border: 1px solid #9cb8cd;
	text-align: center;
	font: bold 12px/27px "����";
	color: #3b607b;
	background: url(../img/tree_m1.gif) no-repeat;
	display: inline;
	margin-left: 29px;
	margin-right: 29px;
	cursor:pointer;
}

.tree_left_body {
	float: left;
	width: 220px;
	border: 1px solid #767676;
	border-top: 0px;
	background: #fff;
	height: 330px;
	margin: 0 29px;
	display: inline;
}

.tree_box_mid {
	width: 100px;
	height: 100px;
	margin-top: 150px;
	float: left;
	text-align: left;
}

.tree_box_mid input {
	float: left;
	width: 63px;
	height: 22px;
	border: 0;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}
.tree_box_mid_over{
	background: url(../img/seach_over.jpg) no-repeat;
}
.tree_box_mid_in{
	background: url(../img/seach_in.jpg) no-repeat;
}
._tree_div_title_close{
	background: url(../img/box_memu_close_over_this.gif) no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 7px;
	right: 10px;
}

.tree_mid_but {
	width: 63px;
	height: 22px;
	background: url(../img/but_h_01.jpg) no-repeat;
	color: #6A6A6A;
	float: left;
}

.tree_box_right {
	width: 220px;
	float: left;
}

.tree_box_right_text {
	float: left;
	width: 220px;
	font: 12px/58px "����";
	text-align: left;
	color: #896902;
}

.tree_box_right_body {
	float: left;
	width: 220px;
	border: 1px solid #767676;
	background: #fff;
	height: 384px;
	display: inline;
	text-align: left;
	font: 12px/20px "����";
	OVERFLOW-Y: auto;
	overflow-x: auto;
	padding: 0px;
	scrollbar-arrow-color: #7490ab;
	scrollbar-face-color: #cde1eb;
	scrollbar-3dlight-color:#d3e5ee;
	scrollbar-highlight-color: #d3e5ee;
	scrollbar-shadow-color: #c9dfea;
	scrollbar-darkshadow-color: #c9dfea;
	scrollbar-track-color: #ebf3f6;
	scrollbar-base-color: #ebf3f6;
}

.tree_box_foot {
	float: left;
	width: 100%;
	height: 34px;
	background: url(../img/t_bot.gif);
	text-align: right;
	margin-top: 13px;
}

.tree_box_foot input {
	float: none;
	margin-right: 10px;
	width: 63px;
	height: 22px;
	border: 0;
	margin-top: 6px;
	text-align: center;
	cursor: pointer;
}
.tree_box_right_body_li{
	float:left;
	text-align: left;
	min-height:20px;
	max-height:20px;
	margin:0px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
white-space: nowrap;
	border: 0;
}
.tree_box_right_body_li_click{
	background: #FFF3C9;
	color:#7E6500;
}
/*����ڿ�ʼ*/

._win_div_root {
	width: 500px;
	height:500px;
	position: absolute;
	top: 5%;
	left: 20%;
	border: 1px solid #9cb8cd;
	background: #fff;
	overflow: hidden;
	margin: 0px auto;
	text-align: left;
	z-index: 1000;
}

._win_div_title {
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	float: left;
	height: 32px;
	line-height: 32px;
	font: bold 12px/32px "����";
	color: #2b70ab;
	overflow: hidden;
	background: url(../img/tree_title_right.jpg);
	text-align: left;
}

._win_div_title_text{
	overflow: hidden;
	margin: 0px auto;
	float: left;
	font: bolder 12px/32px "����";
	text-align: center;
	left:28px;
	color: #2b70ab;
}
._win_div_title_img{
	float: left;
	background: url(../img/tree_left_img.gif) no-repeat;
	margin-left:5px;
	margin-top:8px;
	width:15px;
	height: 15px;
	color: #2b70ab;
}
._win_div_title_close{
	background: url(../img/box_memu_close_over_this.gif) no-repeat;
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 7px;
	right: 10px;
}
._win_document{
	overflow:hidden;
}
._win_document_body{
	overflow:auto;
	scrollbar-arrow-color: #7490ab;
	scrollbar-face-color: #cde1eb;
	scrollbar-3dlight-color:#d3e5ee;
	scrollbar-highlight-color: #d3e5ee;
	scrollbar-shadow-color: #c9dfea;
	scrollbar-darkshadow-color: #c9dfea;
	scrollbar-track-color: #ebf3f6;
	scrollbar-base-color: #ebf3f6;

}
._win_box_foot{
	overflow:hidden;
	overflow-y:hidden;
}

/*tabs*/
._tab_root{
	width:99%;
	margin-top: 5px;
}
._tab_header{
	width:99%;
	background: yellow;
}
._tab_box{
	width:99%;
	text-align: center;
	height:25px;
	padding-left: 10px;
	border-bottom: 1px #EAEAEA solid;
	margin-left: 10px;
}
._tab_menu_out{
	float: left;
	width:90px;
	hight:24px;
	border: 1px #EAEAEA solid;
	color:#666;
	background:url(../img/tab_over_bg_02.gif) left top repeat-x;
	font:normal 12px/24px "����";
	margin-left: 2px;
	cursor: pointer;
	border-bottom:0px;
}
._tab_menu_over{
	float: left;
	width:90px;
	hight:25px;
	top:2px;
	border: 1px #EAEAEA solid;
	border-bottom:none;
	background:url(../img/tab_over_bg.gif) left top repeat-x;
	color:#fff;
	font: bold 12px/25px "����";
	margin-left: 2px;
	cursor: pointer;
}
._tab_body{
	/*margin-top: 5px;*/
	text-align: left;
}
._ajax {
	position: absolute;
	top: 50%;
	left: 50%;
	background:#ebf3f6;
	overflow: hidden;
	margin: 0px auto;
	text-align: left;
	filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;
	width:100px;
	z-index: 29999999980;
}
._tab_menu_document{
	text-align: left;
}

.tree_box_3_opt{
	width:890px;
	left: 10%;
	top: 3%;
}
.tree_box_operate {
	float: left;
	width: 212px;
	height: 25px;
	background: #eaf3fa;
	overflow: hidden;
	padding: 5px;
	margin: 13px 29px 0 29px;
	display: inline;
	text-align: center;
	margin-top: 13px;
}

.tree_box_operate input {
	float: none;
	margin-right: 10px;
	width: 63px;
	height: 22px;
	border: 0;
	margin-top: 3px;
	text-align: center;
	cursor: pointer;
}
.tree_left_title_2{
	margin-top: 5px;
}

.downloadSkin{
	width:90px;
	font: 12px/24px "����";
	height: 24px;
	float: left;
	margin-right: 5px;
	display: inline;
	cursor: pointer;
}

.downloadSkin span{
	background: url(../img/downskin_bg.gif);
	width:75px;
	height:24px;
	float:left;
	line-height: 24px;
	text-align: right;
	padding-right:15px;
	color:#034a97;
}
.changeskin_div{
	width:104px;
	font: 12px/24px "����";
	
	height: 24px;
	float: left;
	margin-right: 5px;
	display: inline;
	cursor: pointer;
}
.changeskin_div span{
	background: url(../img/changeskin_bg.gif);
	width:104px;
	height:24px;
	float:left;
	line-height: 24px;
	text-align: center;
	color:#034a97;
}
.changeskin_div_all{
	background:#FFF;
	padding-bottom:6px;
	width:102px; 
	border-left: 1px solid #345c84;
	border-right: 1px solid #345c84;
	z-index:1000;
	top:24px;
	position:absolute;
	right: 195px;
}
.changeskin_topDown_div{
	width:104px;
	font: 12px/24px "����";
	height: 24px;
	float: left;
	margin-right: 5px;
	display: inline;
	cursor: pointer;
}
.changeskin_topDown_div a{
	background: url(../img/but_y_top_down.gif);
	width:104px;
	height:24px;
	float:left;
	line-height: 24px;
	text-align: center;
	color:#034a97;
}
.changeskin_div_bottom {right: 195px;width:104px;height:6px;background: url(../img/changeskin_bot_bg.gif);position:absolute;top:80px;z-index:1000;}
.changeskin_div_red{
	background: url(../img/skin_red_bg.gif) repeat-x;
text-align: center;
height:20x;
border-bottom: 1px dashed #bdc5ca;
line-height: 20px;
width:97px;
margin-left: 3px;
margin-top: 3px;
padding-bottom:3px;
color: #FFF
}
.changeskin_div_blue{
	background: url(../img/skin_blue_bg.gif) repeat-x;
	text-align: center;
	height:20px;
border-bottom: 1px dashed #bdc5ca;
line-height: 20px;
width:97px;
margin-left: 3px;
margin-top: 3px;
padding-bottom:3px;
color: #FFF
}

.changeSystem_div{
	width:104px;
	font: 12px/24px "����";
	height: 24px;
	float: left;
	margin-right: 5px;
	display: inline;
	cursor: pointer;
}
.changeSystem_div span{
	background: url(../img/changeskin_bg.gif);
	width:104px;
	height:24px;
	float:left;
	line-height: 24px;
	text-align: center;
	color:#034a97;
}
.changeSystem_div_all{
	background:#FFF;
	padding-bottom:6px;
	width:102px; 
	border-left: 1px solid #345c84;
	border-right: 1px solid #345c84;
	z-index:1000;
	top:24px;
	position:absolute;
	right: 413px;
}