html {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
body {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
div {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
p {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
span {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
a {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
strong {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
form {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
table {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
th {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
td {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
ul {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
li {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
ol {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
dl {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
dt {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
dd {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
h1 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
h2 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
h3 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
h4 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
h5 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
h6 {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
fieldset {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
iframe {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
object {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
pre {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
img {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
b {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
i {
	border-bottom: 0px; border-left: 0px; padding-bottom: 0px; margin: 0px; outline-style: none; outline-color: invert; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top: 0px; border-right: 0px; padding-top: 0px
}
ul {
	list-style-type: none; list-style-image: none
}
ol {
	list-style-type: none; list-style-image: none
}
li {
	list-style-type: none; list-style-image: none
}
table {
	border-spacing: 0; border-collapse: collapse
}
fieldset {
	border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px
}
img {
	border-bottom: 0px; border-left: 0px; border-top: 0px; border-right: 0px
}
h1 {
	font-size: 100%
}
h2 {
	font-size: 100%
}
h3 {
	font-size: 100%
}
h4 {
	font-size: 100%
}
h5 {
	font-size: 100%
}
h6 {
	font-size: 100%
}
body {
	font-family: tahoma, sans-serif; font-size: 12px
}
table {
	font-family: tahoma, sans-serif; font-size: 12px
}
input {
	font-family: tahoma, sans-serif; font-size: 12px
}
textarea {
	font-family: tahoma, sans-serif; font-size: 12px
}
button {
	font-family: tahoma, sans-serif; font-size: 12px
}
select {
	font-family: tahoma, sans-serif; font-size: 12px
}

a {
	color: #1d5981; text-decoration: none
}
.focus {
	color: #333
}
.icon-search-btn {
	width: 16px; display: inline-block; background: url(../../../resources/images/icons.png) no-repeat; height: 16px; vertical-align: middle
}
.icon-search-btn {
	border-bottom: medium none; border-left: medium none; width: 36px; float: right; height: 24px; border-top: medium none; border-right: medium none
}
.icon-search-btn {
	background-position: -136px -32px
}
.filters {
	line-height: 26px; float: left; height: auto; font-size: 12px
}
.filters span {
	text-align: center; width: 18px; float: left
	
}
.filters a {
	text-align: center; width: 18px; float: left; color:#3366CC; 
}
.filters span {
	color: #9e9e9e
}
.filters a:hover{ background:#FFF3C9;color:#8A6C00; }
.filters a.selected {
	color: #7db83f; font-weight: bold
}
.filters .first {
	width: 30px
}
.onclicks{background:#FFF3C9;  color:#8A6C00;}
.btn-bar {
  margin-bottom: 8px; height:auto;float: left;
}

.redbost {
    border: 1px solid #C6C6C6;;
    cursor: pointer;
    background: url(../images/1.jpg) top right no-repeat;  
    height: 20px;
    width: 190px;
    float: left;
}