TABLE.Toolbar
{
	BORDER-RIGHT: #D3E5FA 1px solid;
}
TABLE.Toolbar TD
{
	BACKGROUND-COLOR: #D3E5FA;
	BORDER-BOTTOM: #D3E5FA	1px solid;
	BORDER-RIGHT: #D3E5FA 1px solid;
	BORDER-TOP:	#D3E5FA	1px solid;
	HEIGHT: 27px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
}

BODY
{
	BACKGROUND-COLOR:#D6E7FF;
	MARGIN: 0px;
	PADDING: 0px;
}
