<HTML><HEAD><TITLE>SP信息服务工具栏</TITLE>
<SCRIPT language=JavaScript>
function showErrors() {
    return;
}
</SCRIPT>
<link rel="stylesheet" type="text/css" href="sysmanager/css/toolbar.css">
<link rel="stylesheet" type="text/css" href="sysmanager/css/windows.css">
<SCRIPT language=javascript>
var selectImg ;
function mouseover(img){
  if(selectImg!=img){
      img.className = "hover";
  }
}

function mouseout(img){
  if(selectImg!=img){
      img.className = "normal";
  }
}

function mousedown(img){
  if(selectImg!=img){
      img.className = "down";
  }
}
function mouseup(img){
  if(selectImg!=null){
      selectImg.className = "normal";
  }
  selectImg=img;
  img.className="select";
}

</SCRIPT>

<STYLE>
    A {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
</STYLE>

<META content="MSHTML 6.00.2800.1522" name=GENERATOR></HEAD>
<BODY class=leftsidetoolbarbodymargin >
<table border="0" align="center">